.action_singlePlayer {
    &.action_singlePlayer_witch_noPotion{
        ._inner{
            ._numberWrap{
                height: 240px;
                width:240px;
                ._bg{
                    background-image: url('./Image/witch-action-no-good-potion.png');
                    opacity: 1;
                }
            }

            ._name{
                display:none;
            }

            ._btns{
                border-top: none;
            }
        }
    }
}