<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>                                                 <!-- TODO: Page title -->
    <link href="../Content/client.css" rel="stylesheet" type="text/css" />    <!-- TODO: Style file in absolute path -->
</head>
<body>
    <div id="prepare" class="panel prepare">
        <div class="_waiting"></div>
        <div class="_waitingText">Waiting for other players ...</div>
        <div class="_construction">
          <div class="_item">Keep your cellphone away from other players.</div>
          <div class="_item">Keep quiet when you wake up at night.</div>
        </div>
    </div>    <!--Prepare screen-->
    <div id="main" class="panel main"></div>          <!--Main screen-->
    <div id="end" class="panel end"></div>            <!--End screen-->
    <div class="bg"></div>

    <!--Script-->
    <script type="text/javascript" src="../Lib/jquery.min.js"></script>                <!-- TODO: load jQuery  -->
    <script type="text/javascript" src="../Lib/InfoBox.min.js"></script>               <!-- TODO: load InfoBox  -->
    <script type="text/javascript" src="/TestEnv/client.js"></script>     <!-- TODO: load client file provided by GameCenter -->
    <script type="text/javascript" src="../Content/client.js"></script>   <!-- TODO: load game client file  -->
    <script type="text/javascript">
        window.parent.CLIENTID = 'c2';
        window.parent.CLIENTNAME = 'Player 2';

        var renderer = new Rendxx.Game.Client.Renderer({
            prepare: new GAME.Render.Prepare(document.getElementById('prepare'), {name:window.parent.CLIENTNAME}),
            main: new GAME.Render.Main(document.getElementById('main')),
            end: new GAME.Render.End(document.getElementById('end'))
        });
        var client = new Rendxx.Game.Client.Main({
            renderer: renderer
        });
        client.setup();
    </script>
</body>
</html>
