.info_client_phase{
    &.info_client_phase_witch{
        ._iconWrap{
            ._icon{
                background-image: url('./Image/info_icon.png');
            }

            ._light{
                background-image: url('./Image/info_light.png');
            }
        }
    }
}

.info_client_result{
    &.info_client_result_witch_healed{
        ._numberWrap{
            ._effort{
                background-image: url('./Image/action_result_witch_healed.png');
            }
        }
    }
    &.info_client_result_witch_poisoned{
        ._numberWrap{
            ._effort{
                background-image: url('./Image/action_result_witch_poisoned.png');
            }
        }
    }
    &.info_client_result_witch_hideNumber{
        ._numberWrap{
            display: none !important;
        }
        ._word{
            margin-top:-20px !important;
        }
    }
}