.main {
    ._action {
        font-size: 16px;
        background-color: #222;

        &:after{
            content:'';
            width: 200px;
            height:200px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            background-image: url('~CLIENT/design/waiting-256.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 128px 128px;
            opacity: 0.1;
            z-index:0;
            pointer-events: none;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.3);
        }
    }
}
