.info_client_phase{
    &.info_client_phase_day{
        ._iconWrap{
            ._icon{
                background-image: url('./Image/info_icon_day.png');
            }

            ._light{
                background-image: url('./Image/info_light_day.png');
            }
        }
    }
    &.info_client_phase_dead{
        ._iconWrap{
            ._icon{
                background-image: url('./Image/info_icon_dead.png');
            }

            ._light{
                background-image: url('./Image/info_light_dead.png');
            }
        }
    }
}