.action_playerList {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    backface-visibility: hidden;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #111;
        box-shadow: 0 0 10px 2px rgba(0,0,0, 0.4);
        z-index: 9;
        pointer-events: none;
    }

    &._show {
        opacity: 1;
        visibility: visible;
    }

    ._title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        background-color: #111;
        box-shadow: 0 0 10px 2px rgba(0,0,0, 0.4);
        z-index: 10;
        color: #999;

        span {
            display: block;
            text-align: center;
            margin: 0 30px;
            font-size: 24px;
            color: #fff;
            text-shadow: 0 0 5px #000;
        }
    }

    ._playerList {
        height: 100%;
        margin:0 auto;
        position:relative;
        overflow: hidden;
        overflow-y: visible;
        z-index: 1;
        overflow: hidden;
        box-sizing: border-box;

        ._space {
            overflow: visible;
            width: 100%;
            height:70px;
            clear:both;
            position:relative;
            top:0;
            left:0;

            &:after{
              content: '';
              position:absolute;
              top: -1px;
              left: 0;
              width:100%;
              height:1px;
              background-color: #1e1e1e;
              z-index:1;
            }
        }

        ._player {
            width: 90px;
            height:90px;
            position:relative;
            top:0;
            left:0;
            line-height: 40px;
            padding:15px 15px 40px;
            overflow: hidden;
            float:left;
            border-bottom: 1px solid #1e1e1e;

            &:before{
              content: '';
              position:absolute;
              top: 10px;
              left: 50%;
              width:100px;
              height:100px;
              margin-left:-50px;
              background-image: url('../../design/slash.png');
              background-size: contain;
              z-index:100;
            }

            &:after{
              opacity: 0.2;
              content: '';
              position:absolute;
              top: 15px;
              left: 50%;
              width:90px;
              height:90px;
              margin-left:-45px;
              background-image: url('../../../global/design/Portrait-Bg.png');
              background-size: contain;
              z-index:1;
            }

            ._number {
                display: block;
                line-height: 90px;
                height:80px;
                border: 0;
                text-align: center;
                color: #444;
                margin: 0 auto;
                font-size: 40px;
                font-family: "Agency FB";
                text-shadow: 0 0 5px #000;
                z-index:30;
                opacity: 0.75;
            }

            ._name {
                overflow: hidden;
                display: block;
                width: 100px;
                height:20px;
                line-height: 20px;
                text-align: center;
                color: #444;
                margin:0;
                overflow: hidden;
                position: absolute;
                top:110px;
                left:50%;
                margin-left:-50px;
                font-size: 16px;
                font-family: Calibri, 微软雅黑;
                z-index:10;
            }

            ._vote {
                display: block;
                text-align: left;
                position: absolute;
                top: 5px;
                left: 50%;
                width:96px;
                margin-left:-48px;
                z-index: 60;

                ._voteMarker {
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #ccc;
                    text-shadow: 0 0 3px #200;
                    background-image: url('../../design/vote-bg.png');
                    background-position: center center;
                    background-size: 22px 22px;
                    background-repeat: no-repeat;
                    padding:5px 2px;
                    font-size: 12px;
                    font-family: "Agency FB";
                }
            }

            &._alive {
                &:before{
                  display: none;
                }
                &:after{
                  opacity: 0.75;
                }
                ._number {
                    color:#fff;
                    opacity: 1;
                }
                ._name {
                    color: #999;
                }
                &:hover{
                    opacity: 1;
                }
            }

            &._abstain {
                &:before{
                  display: none;
                }
                &:after{
                  opacity: 0.75;
                }
                ._number {
                    background-image: url('../../design/abstain.png');
                    opacity: 1;
                }
                ._name {
                    color: #777;
                }
            }
        }
    }
}
